* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .main {
    width: 100vw;
    height: 100vh;
    background-color: #0e0c18;
  
    &__section {
      width: 100%;
      height: 100%;
      display: flex;
      background-image: url(../../assets/background-home-desktop.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: right;
    }
  
    &__sectionOne {
      width: 38%;
      height: 100%;
    }
  
    &__sectionTwo {
      width: 70%;
      height: 100%;
    }
  }
  .nav {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    padding-left: 7%;
    margin-top: 3%;
    align-items: center;
  
    &__figure-logo {
      padding-top: 1%;
      width: 5%;
      height: 100%;
      margin: 10px;
    }
  
    &__figure-line {
      margin-left: 2%;
      z-index: 100;
      width: 450px;
    }
  
    &__ul {
      align-items: center;
      width: 100%;
      height: 100%;
      background: rgba(37, 41, 51, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.5px);
      -webkit-backdrop-filter: blur(10.5px);
      display: flex;
      list-style: none;
      gap: 30px;
      color: #ffff;
      justify-content: center;
      cursor: pointer;
  
      &-li {
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        letter-spacing: 2px;
        a {
          color: white;
          text-decoration: none;
          span {
            font-weight: bold;
            margin-right: 10%;
            font-family: "Barlow Condensed", sans-serif;
          }
        }
      }
    }
  }
  
  .activeNav {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid #ffff;
  }
  .activeNavMobile {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    border-left: 2px solid #ffff;
  }
  .hamburguer {
    cursor: pointer;
    margin: 10px;
    display: none;
  }
  
  .close-figure {
    align-items: right;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    margin-left: 80%;
  
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  .menu {
    display: none !important;
  
    .-show {
      display: block !important;
    }
  
    &__ul {
      display: none !important;
    }
  }
  .ul-show {
    display: block;
    padding: 50px 20px 20px 20px;
    align-items: left;
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background: rgba(37, 41, 51, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    list-style: none;
    gap: 30px;
    color: #ffff;
    cursor: pointer;
  }
  //SECTION ONE//
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 85%;
    margin-top: 55%;
    margin-left: 30%;
    gap: 20px;
  
    &-textOne {
      color: #d0d6f9;
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Barlow Condensed", sans-serif;
    }
  
    &-title {
      color: #ffff;
      font-size: 100px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: "Bellefair";
    }
  
    &-textTwo {
      font-size: 18px;
      line-height: 20px;
      color: #d0d6f9;
      font-family: "Barlow";
    }
  }
  .container-explore {
    background-color: #ffff;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 35%;
    border-radius: 50%;
    text-align: center;
    padding-top: 85px;
    cursor: pointer;
    transition: 0.4s;
  
    &:hover {
      box-shadow: 0 0 0 3em #24262f;
    }
  
    &-text {
      text-transform: uppercase;
      font-size: 23px;
      cursor: pointer;
      font-family: "Bellefair";
    }
  }
  
  @media (max-width: 1000px) {
    .nav__figure-line {
      display: none;
    }
    .nav__ul {
      width: 100%;
      margin-left: 10%;
    }
    .main__section {
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-image: url(../../assets/homemobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .main__sectionOne {
      width: 100%;
      height: 60vh;
    }
  
    .main__sectionTwo {
      width: 100%;
    }
    .container {
      padding: 10px;
      width: 50%;
      margin-top: 20%;
      align-self: center;
      justify-self: center;
      gap: 10px;
      text-align: center;
      margin-left: 25%;
    }
  
    //SECTION TWO //
    .container-explore {
      width: 150px;
      height: 150px;
      margin-top: 15%;
      align-self: center;
      justify-self: center;
      padding-top: 8%;
    }
  }
  
  @media (max-width: 500px) {
    .nav {
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
  
      &__figure-logo {
        padding-top: 3%;
      }
    }
    .hamburguer {
      display: block;
    }
    .nav__ul {
      display: none;
    }
    .main__section {
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-image: url(../../assets/homemobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .main__sectionOne {
      width: 100%;
      height: 60vh;
    }
  
    .main__sectionTwo {
      width: 100%;
    }
  
    //SECTION ONE //
    .container {
      padding: 10px;
      width: 80%;
      margin-top: 20%;
      margin-left: 8%;
      gap: 10px;
      text-align: center;
    }
  
    //SECTION TWO //
    .container-explore {
      width: 150px;
      height: 150px;
      margin-top: 20%;
      padding-top: 15%;
    }
  }