.destinationContent {
  display: flex;
  background-image: url("./../../assets/background-destination-desktop.jpg");
  height: 100vh;
  
  main {
    display: flex;
    padding-top: 270px;
    color: white;
    margin-left: 20%;

    .imagePlanet{
     figure{
      img{
        width: 300px;
      }
     }
    }

    .planetInfo {
      margin-left: 60px;
      width: 700px;

      .planetMenu {
        display: flex;
        list-style: none;


        button {
          margin: 10px;
          background: none;
          color: white;
          border: none;
          font-size: 20px;
          font-family: "Barlow Condensed", sans-serif;
        }
      }

      .namePlanet{
        font-size: 80px;
        font-family: "Bellefair";
        font-weight: 100;
      }


      .especificInformation{
        display: flex;
        gap: 30px;
        margin-top: 40px;
        padding-top: 30px;
        border-top: 2px solid white;
      }
    }
  }
}