.destinationContent {
  display: flex;
  background-image: url("./../../assets/background-destination-desktop.jpg");
  height: 100vh;

  main {
    display: flex;
    padding-top: 250px;
    color: white;
    margin-left: 10%; 
    // margin y display quita el scrol


    .titlePrincipal{
      
    }

    .imagePlanet{
     figure{
      img{
        width: 300px;
      }
     }
    }

    .planetInfo {
      margin-left: 60px;
      width: 700px;
      display: flex;
      flex-direction: column;
      

      .planetMenu {
        display: flex;
        list-style: none;
        gap: 25px;


        button {
          margin: 10px;
          background: none;
          color: white;
          border: none;
          font-size: 20px;
          font-family: "Barlow Condensed", sans-serif;
        }
      }

      .namePlanet{
        font-size: 80px;
        font-family: "Bellefair";
        font-weight: 100;
      }

      ul{
        
        height: 40px;
      }

      p{
        position: absolute;
        height: 10px;
        left: 72%;
        display: flex;
        text-align:left;
        // top: calc(50% - 128px/2 + 28px);

        font-family: 'Barlow';
// font-style: normal;
// font-weight: 40px;
// font-size: 18px;
        line-height: 24px;
      }

      .especificInformation{
        display: flex;
        gap: 30px;
        margin-top: 180px;
        padding-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.119);
      }
    }
  }
}